#jumb{
    background-image: url('weather.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.class{
    padding: 40%;
}

#rest{
    width: 10rem;
    height: 2rem;
}
body{
    background-image: url('weather2.jpg');
    background-size: cover;
}